@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.period-label {
  margin-bottom: 3px;
}

.period-label span {
  opacity: 0.5;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1rem;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
}

.period-label input {
  display: none;
}

.period-label span:hover,
.period-label input:checked ~ span {
  opacity: 1;
  border-bottom: 3px solid #fff;
}
